body {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(background.jpg);
  margin: 0px;
  font-size: 20px;
}

.contenedor-barra {
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

.barra-navegacion {
  list-style: none;
  display: flex;
  gap: 100px;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}

.contenedor-inicio {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-imagen {
  width: auto; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.contenedor-central {
  max-width: 800px; 
  margin: 0 auto; 
}

.titulo-principal {
  margin-top: 0;
  font-family: "Mitr", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.producto {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex; 
  align-items: center; 
  background-color: rgba(94, 86, 250, 0.663);
}

.producto:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  transition: all .5s;
}

.contenido {
  flex-grow: 1; 
}

.titulo-producto {
  margin-top: 0;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.imagen-container {
  flex-shrink: 0; 
}

.imagen-producto {
  max-width: 100%;
  height: 200px; 
  border-radius: 5px;
  width: auto; 
}

.producto p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.producto button {
  background-color: #2b00ff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.producto button:hover {
  background-color: rgb(118, 111, 255);
  color:  #2b00ff;
  border: 1px solid;
}

/* ESTILOS DE PRODUCTO ESPECIFICO */

hr {
  border-color: black;
}

/* Estilos para los productos en especifico*/

.prod-titulo {
  color: blue;
  text-align: center;
  font-family: "Mukta Malar", sans-serif;
}

.prod-subtitulo {
  font-style: italic;
  text-align: center;
}

.prod-descripcion {
  text-align: center;
}

.prod-imagen-producto {
  float: right;
  margin-left: 20px; 
  margin-top: 5px; 
  width: 50%; 
  border-radius: 10px;
}

.prod-informacion {
  margin-left: 10px;
}

.prod-enlace-comprar, .prod-enlace-oficial {
  color: blue;
  text-decoration: none;
}

.prod-enlace-oficial {
  display: inline-block; 
  margin: 5px 0; 
}

.prod-enlace-comprar:hover, .prod-enlace-oficial:hover {
  text-decoration: underline;
}

.prod-opiniones {
  margin-left: 10px;
}

.prod-formulario {
  max-width: 400px; 
}

.prod-input-comentario {
  width: 100px;
  margin-bottom: 10px;
}

.prod-boton-comprar {
  display: inline-block;
  background-color: #2b00ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Estilos para el pie de página */
footer {
  text-align: center; /* Centra el texto del pie de página */
}